@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #5a49f8;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #19106e8a;
}

::-webkit-scrollbar-thumb {
  background-color: #5f54c78a;
  border-radius: 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
